@mixin flex($direction: row, $justify: center, $align: center, $gap: 0px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin flex-column($direction: column, $gap: 0px) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}