%btn {
    padding: 8px 24px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: $grey;
    cursor: pointer;
    width: 100%;
}

.btn--purple {
    @extend %btn;
    background: $purple;

    &:hover {
        background: #744978;
    }
}

.btn--green {
    @extend %btn;
    background: #4D762D;

    &:hover {
        background: #6DB236;
    }
}

.dialogue-btn {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: $background-blue;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 28px;
    top: 696px;
    z-index: 10;

    &::after {
        @include flex();
        content: url(../../img/svg/dialogue-btn-static.svg);
    }

    &:hover::after {
        content: url(../../img/svg/dialogue-btn-hover.svg);  
    }

}