.label__container {
    display: flex;
    gap: 4px;
    position: absolute;
    top: 32px;
    left: 32px;
}


%label__item {
    padding: 4px 8px;
    color: $grey;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    border: none;
}

.label__item--purple {
    @extend %label__item;
    background: #AF39E7;
}
.label__item--blue {
    @extend %label__item;
    background: #4200FF;
}
.label__item--pink {
    @extend %label__item;
    background: #EA33C0;
}

