.alex-johnsson {
    padding-top: 72px;
    padding-bottom: 76px;
    background-color: $black;
    background-image: url(../../img/svg/abstract.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;

    @media (min-width: $bp-tablet) {
        padding-top: 101px;
        padding-bottom: 102px;
        background-image: url(../../img/svg/abstract-2.svg);
    }
     
    @media (min-width: $bp-desktop) {
        background-image: url(../../img/svg/abstract-3.svg);
        padding-top: 97px;
       
    }
}

.alex-johnsson__container {
    @include flex(column, center, flex-start, 40px);

    @media (min-width: $bp-desktop) {
        
    }
}

.alex-johnsson__title {
    color: $yellow;
}

.alex-johnsson__text {
    font-family: 'Manrope', sans-serif;
    color: $white;
    font-size: 15px;
    font-weight: 500;

    @media (min-width: $bp-tablet) {
        font-size: 16px;
        width: 500px;
    }

    
}

.alex-johnsson__numbers {
    @include flex(row, center, center, 43px);

    @media (min-width: $bp-tablet) {
        gap: 96px;
    }
}

.alex-johnsson__numbers-item {
    @include flex(column, center, flex-start, 5px);
    color: $white;
    font-weight: 700;

    & span:first-of-type {
        font-size: 36px;

        @media (min-width: $bp-tablet) {
            font-size: 48px;
        }
    }

    & span:last-of-type {
        font-size: 16px;
        font-family: 'Manrope', sans-serif;
    }
}