.footer {
    background: $black;
    padding-top: 53px;
    padding-bottom: 40px;
    width: 100%;


    @media (min-width: $bp-tablet) {
        padding-top: 96px;
        padding-bottom: 35px;
    }


    @media (min-width: $bp-desktop) {
        padding-top: 78px;
        padding-bottom: 30px;
    }


}

.footer__button {
    display: block;
    padding: 12px 27px;
    border-radius: 139px;
    border: 1px solid $white-3;
    color: $white;
    @include flex(row, center, center, 8px);
    width: 279px;
    margin: 0 auto 113px;

    @media (min-width: $bp-tablet) {
        padding: 23px 45px;
        min-width: 700px;
        max-width: 750px;
        gap: 45px;
        margin-bottom: 60px;
    }


    @media (min-width: $bp-desktop) {
        padding: 42px 50px;
        width: 917px;
        margin-bottom: 163px;
    }

}

.footer__button-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;

    @media (min-width: $bp-tablet) {
        font-size: 44px;
        margin-bottom: 22px;
    }

    @media (min-width: $bp-desktop) {}
}

.footer__button-subtitle {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding-right: 57px;

    @media (min-width: $bp-tablet) {
        font-size: 24px;
        padding-right: 81px;
    }

    @media (min-width: $bp-desktop) {}

    &::after {
        content: url(../../img/footer/footer-arrow.svg);
        position: absolute;
        top: 2px;
        right: 0;

        @media (min-width: $bp-tablet) {
            content: url(../../img/footer/footer-arrow-tablet.svg);
        }
    }
}

.footer__social-media {
    @include flex(row, center, center, 34px);
    margin-bottom: 21px;
}

.footer__copyright {
    display: block;
    color: $white;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
    width: fit-content;
}