.good-design {
    background-image: url(../../img/good-design/good-design-phone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 180px;
    padding-bottom: 173px;

    @media (min-width: $bp-tablet) {
        background-image: url(../../img/good-design/good-design-tablet.jpg);
        padding-top: 274px;
        padding-bottom: 294px;
    }


    @media (min-width: $bp-desktop) {
        background-image: url(../../img/good-design/good-design-desktop.jpg);
        padding-top: 303px;
        padding-bottom: 323px;
    }
}

.good-design__title {
    color: $white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

    @media (min-width: $bp-tablet) {
        font-size: 48px;
    }
}