.graphic-design {
    background: $black;
    padding-top: 58px;
    padding-bottom: 93px;

    @media (min-width: $bp-tablet) {
        padding-top: 82px;
        padding-bottom: 129px;
    }

    @media (min-width: $bp-desktop) {
        padding-bottom: 138px;
    }

}

.section-title.graphic-design__title {
    color: $white;
    padding-bottom: 28px;

    @media (min-width: $bp-tablet) {
        font-size: 80px;
        padding-bottom: 38px;
    }
}

.graphic-design__img-container {

    @include flex(column, center, center, 20px);

    @media (min-width: $bp-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 26px 34px;

        @media (min-width: $bp-desktop) {
            column-gap: 26px;
        }
    }
}

.graphic-design__img-wrapper {
    position: relative;
    width: 100%;
    max-width: 450px;
    @include flex(row, center, center);

    @media (min-width: $bp-tablet) {
        max-width: 100%;
    }
}

.graphic-design__img-star {
    grid-column: span 2;
}

.graphic-design__img-star::before {
    content: url(../../img/graphic-design/svg/gr-design-1.svg);
    width: 172px;
    height: 172px;
    position: absolute;
    z-index: 2;

    @media (min-width: $bp-tablet) {
        content: url(../../img/graphic-design/svg/gr-design-1-tablet.svg);
        width: 227px;
        height: 227px;

    }

    @media (min-width: $bp-desktop) {
        content: url(../../img/graphic-design/svg/gr-design-1-desktop.svg);
        width: 268px;
        height: 268px;
    }
}

.graphic-design__img-butterfly::before {
    content: url(../../img/graphic-design/svg/gr-design-2.svg);
    width: 134px;
    height: 137px;
    position: absolute;
    z-index: 2;

    @media (min-width: $bp-tablet) {
        content: url(../../img/graphic-design/svg/gr-design-2-tablet.svg);
        width: 147px;
        height: 151px;
    }

    @media (min-width: $bp-desktop) {
        content: url(../../img/graphic-design/svg/gr-design-2-desktop.svg);
        width: 187px;
        height: 191px;
    }
}

.graphic-design__img-asterics::before {
    content: url(../../img/graphic-design/svg/gr-design-3.svg);
    width: 148px;
    height: 143px;
    position: absolute;
    z-index: 2;

    @media (min-width: $bp-tablet) {
        content: url(../../img/graphic-design/svg/gr-design-3-tablet.svg);
        width: 183px;
        height: 177px;
    }

    @media (min-width: $bp-desktop) {
        content: url(../../img/graphic-design/svg/gr-design-3-desktop.svg);
        width: 233px;
        height: 225px;
    }
}

.graphic-design__img {
    border-radius: 82px;
    display: block;
    width: 100%;
}