.header {
    background-color: rgba($color: #000000, $alpha: .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}

.header__container {
    @include flex(row, space-between);
    padding-top: 27px;
    padding-bottom: 27px;

    @media (min-width: $bp-tablet) {
        padding-top: 38px;
        padding-bottom: 38px;
    }
  
    @media (min-width: $bp-desktop) {
        @include flex(row, flex-start, center, 235px);
    }
}

.header__logo {
    width: 56px;
    height: 56px;
}

.header__navigation {
    display: none;

    @media (min-width: $bp-desktop) {
        @include flex(row, center, center, 20px);
       
    }
}