.hero-banner {
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    padding-top: 412px;
    padding-bottom: 149px;

    @media (min-width: $bp-tablet) {
        padding-top: 273px;
        padding-bottom: 130px;
    }

    @media (min-width: $bp-desktop) {
        padding-top: 491px;
        padding-bottom: 119px;
    }

}

.hero-banner__title {
    color: $white;
    font-size: 48px;
    font-weight: 700;

    @media (min-width: $bp-tablet) {
        font-size: 80px;
    }
}