.project {
    background-color: $brown;
    padding-top: 52px;
    padding-bottom: 85px;


    @media (min-width: $bp-tablet) {
        padding-bottom: 122px;
    }

    @media (min-width: $bp-desktop) {
        padding-top: 88px;
        padding-bottom: 86px;
    }
}

.project__container {
    @include flex(column, center, center, 63px);

    @media (min-width: $bp-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 102px 40px;
    }

    @media (min-width: $bp-desktop) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 63px;
    }


}

.project__card {
    display: block;
    padding: 16px;
    border-radius: 24px;
    background: $white-2;
    min-width: 312px;
    margin: 0 auto;

    @media (max-width: $bp-tablet) {
        max-width: 450px;
    }

    @media (min-width: $bp-tablet) {
        width: 100%;
        min-height: 808px;
        padding: 28px 16px;
    }

    @media (min-width: $bp-desktop) {
        min-height: fit-content;
    }

    &--primary {
        @extend .project__card;

        @media (min-width: $bp-tablet) {
            grid-column: span 2;
            max-width: 100%;
        }

        @media (min-width: $bp-desktop) {
            grid-column: span 3;
        }
    }

    &--tablet {
        @extend .project__card;
        display: none;

        @media (min-width: $bp-tablet) {
            display: block;
        }
    }

    &--desktop {
        @extend .project__card;
        display: none;

        @media (min-width: $bp-desktop) {
            display: block;
        }
    }

}

.project__img {
    width: 100%;
    padding-bottom: 20px;
    border-radius: 50px;
}



.project__title {
    color: $brown-2;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 22px;

    @media (min-width: $bp-tablet) {
        font-size: 40px;
    }

    &--secondary {
        @extend .project__title;
        font-size: 24px;
        font-weight: 700;

        @media (min-width: $bp-tablet) {
            font-size: 32px;
        }
    }
}

.project__subtitle {
    color: $black-2;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 700;

    @media (min-width: $bp-tablet) {
        font-size: 18px;
    }

    &--secondary {
        @extend .project__subtitle;
        font-weight: 500;

        @media (min-width: $bp-tablet) {
            font-size: 18px;
        }
    }
}