.bestsellers {
    padding: 136px 0 120px 0;
}

.bestsellers__title {
    color: $black-2;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 23px;
    border-bottom: 1px solid $grey-2;
    margin-bottom: 24px;
}

.bestsellers__catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
}

.bestsellers__card {
    @include flex-column(column, 16px);
    background-color: $grey;
    padding: 32px;
    width: fit-content;
    position: relative;
    width: 306px;
    border: 1px solid $grey-2;

    & a {
        align-self: center;
    }
}

.bestsellers__card-img {
    width: 178px;
    height: 280px;
}

.bestsellers__card-title {
    overflow: hidden;
    color: $black-2;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid $grey-2;
}

.bestsellers__card-subtitle {
    color: $grey-3;
    font-size: 16px;
    line-height: 24px;
    display: block;
    padding-bottom: 8px;
}

.bestsellers__card-price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding-right: 24px;

    &--old-price {
        @extend .bestsellers__card-price;
        color: $grey-3;
        text-decoration-line: line-through;
    }
}