.footer {
    padding: 32px 0;
    background: $purple;
}

.footer__content-container {
    @include flex(row, space-between, center);
}

.footer__text {
    color: $grey;
    font-size: 16px;
    line-height: 24px;
}