.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

.header__section--blue {
    padding: 16px 0;
    background: $background-blue;
}

.header__content-container {
    @include flex(row, space-between, center);
}

.header__logo-img {
    width: 126px;
    height: 29px;
}

.header__cart-container {
    @include flex(row, space-between, center, 8px);

    & span {
        color: $grey;
        font-size: 16px;
        line-height: 24px;
    }

    & button {
        width: 40px;
        height: 40px;
        background: inherit;
        border: none;
        position: relative;
        cursor: pointer;

        &::after {
            content: "0";
            position: absolute;
            top: 13px;
            left: 25px;
            color: $text-black;
            font-size: 12px;
            line-height: 10px;
        }
    }
}

.header__section--white {
    background: $white;
    padding: 4px 0;

    & a {
        color: $text-black;
        font-size: 16px;
        line-height: 24px;
    }
}

.header__navigation {
    @include flex(row, space-between, center, 40px);
}