body {
    font-family: 'Cabin', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

.content-container {
    width: 1296px;
    margin: 0 auto;
}

main {
    background: #EEEEEF;
}

