@import "./base/reset";
@import "./base/default";
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./components/buttons";
@import "./components/labels";
@import "./layout/header";
@import "./layout/bestsellers";
@import "./layout/footer";

@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-Regular.woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-Medium.woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-SemiBold.woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}

