* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

.content-container {
    padding-left: 17px;
    padding-right: 17px;
    min-width: 320px;

    @media (min-width: $bp-tablet) {
        padding-left: 34px;
        padding-right: 34px;
    }

     
    @media (min-width: $bp-desktop) {
        max-width: 1055px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
}