@font-face {
    font-family: 'DynaPuff';
    src: url("../../fonts/DynaPuff-SemiBold.woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'DynaPuff';
    src: url("../../fonts/DynaPuff-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url("../../fonts/Manrope-Medium.woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url("../../fonts/Manrope-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: 'DynaPuff', sans-serif;
}

.section-title {
    font-size: 36px;
    font-weight: 700;

    @media (min-width: $bp-tablet) {
        font-size: 48px;
    }

}
