.burger-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid $white;
    width: 56px;
    height: 56px;


    & svg {
        width: 24px;
        height: 24px;

        & path {
            fill: $white;
        }
    }

    @media (min-width: $bp-desktop) {
        display: none;
    }
}

.navigation-button {
    color: $white;
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid $white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    @include flex(row, flex-start, center, 12px);

    & svg path {
        fill: $white;
    }

    &:hover {
        border: 2px solid $white;
    }
}